.font-1-xs {
    font: 400 .625rem/1.3 "Open Sans", sans-serif;
}

.font-1-m {
    font: 400 1rem/1.3 "Open Sans", sans-serif;
}

.font-2-h6 {
    font: 400 1.25rem/1.3 "Ubuntu", sans-serif;
}

.font-2-h5 {
    font: 400 1.25rem/1.3 "Ubuntu", sans-serif;
}

.font-2-h4 {
    font: 400 1.5rem/1.3 "Ubuntu", sans-serif;
}

.font-2-h3 {
    font: 400 1.9rem/1.3 "Ubuntu", sans-serif;
}

.font-2-h2 {
    font: 400 2.4rem/1.3 "Ubuntu", sans-serif;
}

.font-2-h1 {
    font: 400 3rem/1.3 "Ubuntu", sans-serif;
}