.header-bg {
    background: var(--black);
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}