.about-me-bg {
    background: #111111;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 40px;
    padding-top: 120px;
    padding-bottom: 60px;
}

.about-avatar {
    justify-self: center;
}

.about-avatar img {
    max-height: 300px;
}

.about-content h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 20px;
}

.about-content h1 span {
    color: var(--p-base);
}

.about-content p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 40px;
}

.about-me-btn {
    display: inline-block;
    max-width: 250px;
    padding: 14px 48px;
    background: var(--p-base);
    font-weight: bold;
    color: #111111;
    border: 1px solid transparent;
    transition: ease-in-out 0.3s;
}

.about-me-btn:hover {
    background: #111111;
    color: var(--p-base);
    border: 1px solid var(--p-base);
}

@media (max-width: 1000px) {
    .about-me {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .about-me {
        grid-template-columns: 1fr;
    }

    .about-avatar {
        display: none;
    }
}
