.projects-bg {
    background: #010101;
}

.projects {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h1 {
    align-self: flex-start;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 40px;
    position: relative;
}

.projects h1::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 4px;
    background: var(--p-base);
    left: 3px;
    top: 4px;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.projects-item {
    background: #000000;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--p-base);
}

.projects-item h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.projects-item p {
    color: #fff;
    line-height: 1.4;
    margin-bottom: 20px;
    font-size: 1.125rem;
}

.projects-item-btn {
    color: #b2b2b2;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
}

.projects-item-btn::before {
    content: "";
    width: 8px;
    height: 6px;
    background: var(--p-base);
    display: inline-block;
    margin-right: 8px;
    transition: width 0.2s;
}

.projects-item-btn:hover::before {
    width: 14px;
}

.projects-github {
    padding: 10px;
    border-radius: 4px;
    align-self: flex-end;
}

.projects-github img {
    width: 30px;
    height: 30px;
}
